
.right-arrow, .left-arrow {
  position: absolute;
  background-color: #ffff;
  opacity: 20%;
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 100.00%, 2.22% 99.98%, 4.44% 99.93%, 6.67% 99.85%, 8.89% 99.73%, 11.11% 99.58%, 13.33% 99.41%, 15.56% 99.22%, 17.78% 99.00%, 20.00% 98.77%, 22.22% 98.53%, 24.44% 98.28%, 26.67% 98.03%, 28.89% 97.79%, 31.11% 97.55%, 33.33% 97.33%, 35.56% 97.13%, 37.78% 96.94%, 40.00% 96.78%, 42.22% 96.65%, 44.44% 96.55%, 46.67% 96.48%, 48.89% 96.45%, 51.11% 96.45%, 53.33% 96.48%, 55.56% 96.55%, 57.78% 96.65%, 60.00% 96.78%, 62.22% 96.94%, 64.44% 97.13%, 66.67% 97.33%, 68.89% 97.55%, 71.11% 97.79%, 73.33% 98.03%, 75.56% 98.28%, 77.78% 98.53%, 80.00% 98.77%, 82.22% 99.00%, 84.44% 99.22%, 86.67% 99.41%, 88.89% 99.58%, 91.11% 99.73%, 93.33% 99.85%, 95.56% 99.93%, 97.78% 99.98%, 100.00% 100.00%);
  font-size: 3rem;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.3s linear;
}

.right-arrow-parent,.left-arrow-parent{
  transform: translate(0, -50%);
}

.right-arrow-parent:hover ~ div>.right-arrow{
  opacity: 40%;
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 100.00%, 2.22% 99.94%, 4.44% 99.75%, 6.67% 99.45%, 8.89% 99.04%, 11.11% 98.51%, 13.33% 97.90%, 15.56% 97.20%, 17.78% 96.43%, 20.00% 95.61%, 22.22% 94.75%, 24.44% 93.87%, 26.67% 92.99%, 28.89% 92.11%, 31.11% 91.27%, 33.33% 90.48%, 35.56% 89.74%, 37.78% 89.08%, 40.00% 88.51%, 42.22% 88.04%, 44.44% 87.68%, 46.67% 87.44%, 48.89% 87.32%, 51.11% 87.32%, 53.33% 87.44%, 55.56% 87.68%, 57.78% 88.04%, 60.00% 88.51%, 62.22% 89.08%, 64.44% 89.74%, 66.67% 90.48%, 68.89% 91.27%, 71.11% 92.11%, 73.33% 92.99%, 75.56% 93.87%, 77.78% 94.75%, 80.00% 95.61%, 82.22% 96.43%, 84.44% 97.20%, 86.67% 97.90%, 88.89% 98.51%, 91.11% 99.04%, 93.33% 99.45%, 95.56% 99.75%, 97.78% 99.94%, 100.00% 100.00%);  transition: 0.2s ease-in;
}

.left-arrow-parent:hover ~ div>.left-arrow{
  opacity: 40%;
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 100.00%, 2.22% 99.94%, 4.44% 99.75%, 6.67% 99.45%, 8.89% 99.04%, 11.11% 98.51%, 13.33% 97.90%, 15.56% 97.20%, 17.78% 96.43%, 20.00% 95.61%, 22.22% 94.75%, 24.44% 93.87%, 26.67% 92.99%, 28.89% 92.11%, 31.11% 91.27%, 33.33% 90.48%, 35.56% 89.74%, 37.78% 89.08%, 40.00% 88.51%, 42.22% 88.04%, 44.44% 87.68%, 46.67% 87.44%, 48.89% 87.32%, 51.11% 87.32%, 53.33% 87.44%, 55.56% 87.68%, 57.78% 88.04%, 60.00% 88.51%, 62.22% 89.08%, 64.44% 89.74%, 66.67% 90.48%, 68.89% 91.27%, 71.11% 92.11%, 73.33% 92.99%, 75.56% 93.87%, 77.78% 94.75%, 80.00% 95.61%, 82.22% 96.43%, 84.44% 97.20%, 86.67% 97.90%, 88.89% 98.51%, 91.11% 99.04%, 93.33% 99.45%, 95.56% 99.75%, 97.78% 99.94%, 100.00% 100.00%);  transition: 0.2s ease-in;
}


.slideRight {
  /* opacity: 0; */
  transition-duration: 0.2s;
  transform: translatex(9%)
}

.slideleft {
  /* opacity: 0; */
  transition-duration: 0.2s;
  transform: translatex(-9%)
}

.slide.active {
  /* opacity: 1; */
  scale: 1.08;
  transition-duration: 0.3s;
  transform: translatex(0)

}


#navigation {
  width: 140px;
  overflow: hidden;
}

.button {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 8px;
  background-color: #fff;
  opacity: 50%;
  border-radius: 20px;
  transition: 0.3s ease width;
}

.button:last-child {
  margin-right: 0;
}

.button.active {
  background-color: #fff;
  height: 10px;
  width: 63px;
  opacity: 100%;
}
